@media screen and (max-width: 1218px) {
  header nav .menu {
    gap: 1rem;
  }
  header nav .menu .nav-link a {
    font-size: 14px;
  }
  header nav .account > div {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  header nav .logo img {
    height: 38px;
  }
  header nav .menu {
    gap: 0.75rem;
  }
  header nav .actions {
    gap: 30px;
  }
  header nav .account > div {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  header {
    height: 90px;
  }
  header nav .menu {
    display: none;
  }
  header nav .actions {
    width: 100%;
    justify-content: space-between;
    margin: 0 40px;
  }
  header nav .mobile-menu-toggler {
    display: block;
  }
  footer .inner {
    width: 100%;
    gap: 33px;
  }
}
@media (max-width: 767px) {
  header {
    height: 80px;
  }
  header nav {
    gap: 30px;
  }
  header nav .catalog {
    margin: 0;
  }
  header nav .actions {
    gap: 15px;
    margin: 0;
  }
  header nav .actions .icons-bar {
    gap: 15px;
  }
  header nav .actions .account img {
    width: 40px;
    height: 40px;
  }
  header nav .mobile-menu-toggler {
    display: block;
  }
}
@media (max-width: 635px) {
  header nav .logo > .logo-lg {
    display: none;
  }
  header nav .logo > .logo-sm {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  header nav {
    gap: 20px;
  }
  header nav .catalog {
    display: none;
  }
  header nav .actions {
    justify-content: space-around;
  }
  header nav .actions .icons-bar {
    margin-top: 0.75rem;
  }
  footer .inner {
    gap: 40px;
    flex-wrap: wrap;
  }
  footer .inner .logo, footer .inner .payment-info {
    width: 100%;
  }
  footer .inner .links {
    width: auto;
  }
}
@media (min-width: 993px) and (max-width: 1218px) {
  .card-wrapper {
    gap: 20px;
  }
  .section-reviews .gap-30, .section-blog .gap-30 {
    gap: 20px !important;
  }
  .section-counter .gap-40 {
    gap: 20px !important;
  }
}
@media (max-width: 992px) {
  .section-games .card-wrapper, .section-coins .card-wrapper, .section-services .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .section-reviews .items-3, .section-blog .items-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-reviews .gap-30, .section-blog .gap-30 {
    gap: 20px !important;
  }
  .section-counter .gap-40 {
    gap: 20px !important;
  }
  .section-counter .card-counter {
    padding: 40px 25px;
  }
  .section-counter .counter-count {
    white-space: nowrap;
  }
  .category-page .category-content {
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .category-page .category-content .items-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-page .category-content .gap-30 {
    gap: 20px !important;
  }
  .category-page .category-content .card-product .card-actions {
    gap: 15px;
  }
  .category-page form.items-4 {
    grid-template-columns: 2fr 3fr;
  }
  .category-page .btn-dark {
    padding: 15px;
    font-size: 14px;
  }
  .product-single {
    grid-template-columns: 1fr;
  }
  .product-single .main-content {
    grid-template-columns: 1fr;
  }
  .product-single .category-info {
    order: 1;
  }
  .product-single .service-info {
    order: 0;
  }
  .product-single .service-info .order-options {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .section-games .items-4 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .section-blog .items-3.gap-30 {
    -moz-column-gap: 20px !important;
         column-gap: 20px !important;
    row-gap: 30px !important;
  }
  .faq-page .feedback {
    margin: 0 25%;
  }
  .order-page .items-2 {
    grid-template-columns: 1fr !important;
  }
  .order-page .basket {
    order: 1;
  }
  .order-page .order-actions {
    order: 0;
  }
  .suppliers-page .page-header, .about-page .page-header {
    margin-bottom: 0;
  }
  .suppliers-page .banner-outline, .about-page .banner-outline {
    justify-content: center;
  }
  .suppliers-page .banner-outline .w-45, .about-page .banner-outline .w-45 {
    width: 100% !important;
  }
  .suppliers-page .banner-outline .outline-img, .about-page .banner-outline .outline-img {
    display: none;
  }
  .suppliers-page .section-instructions .items-3.gap-30, .about-page .section-instructions .items-3.gap-30 {
    gap: 20px !important;
  }
  .profile-forms .data-inputs {
    width: 50%;
  }
  .section.comments textarea {
    height: 200px;
  }
  .section.comments .comment-action .policy {
    max-width: initial;
    width: auto;
    display: block;
  }
  .section.comments .comment-reply {
    margin-top: 1.25rem;
    padding-left: 2.5rem;
  }
  .section.comments .comment-reply .comment-reply {
    padding-left: 1rem;
  }
  .section.comments .comment-reply .comment-reply .comment-reply {
    padding-left: 0.25rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section {
    margin-bottom: 3.625rem;
  }
  .section .section-title h3 {
    justify-content: start;
    font-size: 1.25rem;
    gap: 10px;
  }
  .section .section-title h3 svg {
    display: none;
  }
  .page-header .breadcrumb a, .page-header .breadcrumb span {
    font-size: 14px;
  }
  .page-header .page-title {
    font-size: 1.25rem;
  }
  .items-3, .section-reviews .items-3, .section-blog .items-3 {
    grid-template-columns: 1fr;
  }
  .items-3.gap-30 {
    gap: 20px !important;
  }
  .card-service .card-content {
    padding: 0.5rem;
  }
  .card-service .service-title {
    font-size: 14px;
  }
  .card-service .icon-single {
    border-radius: 50%;
  }
  .section-games .toggle-menu {
    margin-bottom: 30px;
  }
  .section-games .items-4 {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 15px !important;
  }
  .card-wrapper, .section-games .card-wrapper,
.section-coins .card-wrapper,
.section-services .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 20px;
  }
  .card-product .card-category {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .card-product .card-actions {
    flex-direction: column;
    gap: 10px;
  }
  .card-product .card-actions .card-icon-btn {
    width: 100%;
  }
  .items-5 {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 15px !important;
         column-gap: 15px !important;
    row-gap: 20px !important;
  }
  .category-page form.items-4 {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .category-page form.items-4 .filters-toggle {
    display: block;
  }
  .category-page form.items-4 * {
    font-size: 14px;
  }
  .category-page .category-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .category-page .category-content .category-sidebar {
    display: none;
  }
  .category-page .category-content .items-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-page .category-content .gap-30 {
    gap: 15px !important;
  }
  .category-page .category-content .card-product .card-actions {
    gap: 15px;
  }
  .category-page .btn-dark {
    padding: 15px;
    font-size: 14px;
  }
  .category-page .pagination .btn {
    width: 100%;
  }
  .section-blog .items-3.gap-30 {
    grid-template-columns: 1fr;
  }
  .section-blog .btn-primary {
    width: 100%;
  }
  .article {
    min-height: initial;
  }
  .article .article-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
  .article .article-info .article-share {
    width: 100%;
    justify-content: flex-end;
  }
  .article .article-info .article-meta {
    white-space: nowrap;
  }
  .product-single {
    display: flex;
    flex-direction: column;
  }
  .product-single .main-content {
    grid-template-columns: 1fr;
  }
  .product-single .feature-item, .product-single .category-item, .product-single .category-detail, .product-single .badge-discount {
    font-size: 14px !important;
  }
  .product-single .category-detail {
    text-align: right;
    max-width: 50%;
  }
  .product-single .category-info {
    order: 1;
  }
  .product-single .service-info {
    order: 0;
  }
  .product-single .service-info .btn-basket {
    font-size: 14px;
    padding: 15px 12px;
    gap: 6px;
  }
  .product-single .service-info .product-price {
    white-space: nowrap;
    font-size: 14px;
  }
  .product-single .service-info .order-options {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .product-single .media-wrapper {
    height: 7.5rem;
  }
  .product-single .media-wrapper img {
    height: 7.5rem;
    max-height: 7.5rem;
  }
  .product-single .toggle-navbar {
    overflow-x: auto;
    white-space: nowrap;
  }
  .faq-items .faq-subject .question-mark {
    min-width: 60px;
    min-height: 60px;
  }
  .faq-intro, .faq-items .faq-subject .question {
    font-size: 14px;
  }
  .faq-items .faq-answer {
    font-size: 13px;
  }
  .faq-page .feedback {
    margin: 0 10%;
  }
  .faq-page .feedback .feedback-title {
    font-size: 1.25rem;
  }
  .faq-page .feedback .feedback-title + p {
    font-size: 14px;
  }
  .section-policy .policy-content * {
    font-size: 14px;
  }
  .order-page h3 {
    font-size: 1.125rem;
  }
  .order-page .order-form .row.gap-20 {
    flex-direction: column !important;
  }
  .order-page .card-basket {
    grid-template-columns: 1fr;
    padding: 20px !important;
  }
  .order-page .card-basket .card-banner {
    height: 12.5rem;
  }
  .order-page .section-order .payment-methods > .card {
    gap: initial !important;
    justify-content: space-between;
  }
  .order-page .section-order .payment-methods img {
    max-height: 3rem;
  }
  .suppliers-page .page-header, .about-page .page-header {
    margin-bottom: 0;
  }
  .suppliers-page .banner-outline, .about-page .banner-outline {
    padding: 20px;
    height: auto;
  }
  .suppliers-page .banner-outline h3, .about-page .banner-outline h3 {
    font-size: 18px;
    text-align: center;
  }
  .suppliers-page .banner-outline p, .about-page .banner-outline p {
    font-size: 14px;
  }
  .suppliers-page .banner-outline .btn-primary, .about-page .banner-outline .btn-primary {
    padding: 15px;
    margin: auto;
  }
  .suppliers-page .section-instructions .items-3.gap-30, .about-page .section-instructions .items-3.gap-30 {
    gap: 20px !important;
  }
  .suppliers-page .section-instructions .instruction-order, .about-page .section-instructions .instruction-order {
    font-size: 2.25rem;
  }
  .suppliers-page .section-instructions .instruction-subject, .about-page .section-instructions .instruction-subject {
    font-size: 18px;
  }
  .suppliers-page .section-instructions .instruction-subject, .about-page .section-instructions .instruction-subject {
    font-size: 14px;
  }
  .suppliers-page .feature-items .card.gap-30, .about-page .feature-items .card.gap-30 {
    flex-direction: column !important;
    align-items: flex-start;
  }
  .suppliers-page .feature-items .feature-subject, .about-page .feature-items .feature-subject {
    font-size: 1.25rem;
  }
  .suppliers-page .feature-items .feature-body, .about-page .feature-items .feature-body {
    font-weight: 14px;
  }
  .suppliers-page .section-reviews .items-3, .about-page .section-reviews .items-3 {
    grid-template-columns: 1fr;
  }
  .profile-form {
    flex-direction: column;
  }
  .profile-form .data-inputs {
    width: 100%;
    order: 2;
  }
  .profile-form .media-inputs {
    order: 0;
    width: 100%;
    align-items: center;
  }
  .card-order {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-order .card-banner {
    width: 100%;
    height: 12.5rem;
  }
  .card-order .order-details {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: initial;
    margin-bottom: 5px;
    width: 100%;
  }
  .card-order .order-details span {
    margin-right: 15px;
  }
  .card-order .order-status {
    position: static;
    width: auto;
  }
  .card-order .order-status .badge-status {
    display: inline-block;
  }
  .section.comments .section-title {
    margin-bottom: 1.25rem;
  }
  .section.comments textarea {
    height: 200px;
  }
  .section.comments .comment-action {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .section.comments .comment-action .btn {
    width: 100%;
  }
  .section.comments .comment-action .policy {
    max-width: 80%;
    width: auto;
    display: block;
  }
  .section.comments .comment-reply {
    margin-top: 1.25rem;
    padding-left: 2.5rem;
  }
  .section.comments .comment-reply .comment-reply {
    padding-left: 1rem;
  }
  .section.comments .comment-reply .comment-reply .comment-reply {
    padding-left: 0.25rem;
  }
}/*# sourceMappingURL=media.css.map */