@import 'base/vars';

@import 'responsive/_header';

// Homepage
@media (min-width: 992px) and (max-width: $container-width) {
    .card-wrapper {gap: 20px}
    .section-reviews, .section-blog {
        .gap-30 {gap: 20px !important;}
   }
   .section-counter { .gap-40 {gap: 20px !important;}}
}

@media (min-width:768px) and (max-width: 992px) {
   .section-games, .section-coins, .section-services {
        .card-wrapper {grid-template-columns: repeat(3, 1fr); gap: 20px;}
   } 

   .section-reviews, .section-blog {
        .items-3 {
            grid-template-columns: repeat(2, 1fr);
        }
        .gap-30 {gap: 20px !important;}
   }
   .section-counter { .gap-40 {gap: 20px !important;}}
}

@media (min-width: 339px) and (max-width: 768px) {
    
    .section {
        margin-bottom: $section-limiter-mob;
        .section-title h3 {
            justify-content: start; font-size: 1.25rem; gap: 10px; svg {display: none;}
        }
    }
    .items-3 {grid-template-columns: 1fr;}
    .items-3.gap-30 {gap: 20px !important;}

    .card-service {
        .card-content {padding: .5rem;}
        .service-title {font-size: 14px;}
        .icon-single {border-radius: 50%;}
    }

    .section-games { .toggle-menu {margin-bottom: 30px;}}
    .card-wrapper {grid-template-columns: repeat(2, 1fr); column-gap: 15px; row-gap: 20px;}
    .card-product {
        .card-category {flex-direction: column; align-items: start; gap: 10px;}
        .card-actions {flex-direction: column; gap: 10px; .card-icon-btn {width: 100%;}}
    }

    .items-5 {grid-template-columns: repeat(2, 1fr); column-gap: 15px !important; row-gap: 20px !important;}
}