// Utils
.flex {display: flex  !important;}
.row {display: flex; flex-direction: row !important;}
.flex-wrap {flex-wrap: wrap  !important;}
.flex-col {display: flex; flex-direction: column  !important;}
.jc-sb {justify-content: space-between  !important;}
.jc-center {justify-content: center  !important;}
.ai-center {align-items: center  !important;}
.flex-sb-center {display: flex; justify-content: space-between  !important; align-items: center  !important;}

.items-2 {display:grid; grid-template-columns: repeat(2, 1fr);}
.items-3 {display:grid; grid-template-columns: repeat(3, 1fr);}
.items-4 {display:grid; grid-template-columns: repeat(4, 1fr);}
.items-5 {display:grid; grid-template-columns: repeat(5, 1fr);}

.grid-col-3 {grid-template-columns: repeat(3, 1fr);grid-gap: 25px;}
.grid-col-4 {grid-template-columns: repeat(4, 1fr);grid-gap: 30px;}
.grid-col-5 {grid-template-columns: repeat(5, 1fr);grid-gap: 40px;}

.gap-10 {gap: 10px !important;}
.gap-15 {gap: 15px !important;}
.gap-20 {gap: 20px !important;}
.gap-30 {gap: 30px !important;}
.gap-40 {gap: 40px !important;}

.row-gap-10 {row-gap: 10px !important;}
.row-gap-15 {row-gap: 15px !important;}
.row-gap-20 {row-gap: 20px !important;}
.row-gap-30 {row-gap: 30px !important;}
.row-gap-40 {row-gap: 40px !important;}

.text-white {color: $white;}
.text-primary {color: $orange_primary;}
.text-gray {color: $gray;}

.mt-10 {margin-top: 10px !important;}

.mb-15 {margin-bottom: 15px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-50 {margin-bottom: 50px !important;}

.pt-20 {padding-top: 20px !important;}
.pt-50 {padding-top: 50px !important;}
.p-5 {padding: 5px !important;}
.p-30 {padding: 30px !important;}

.w-100 {width: 100% !important;}

.text-bold {font-weight: 700 !important;}
.border-0 {border: none !important;}
.overflow-show {overflow: visible !important;}

.border-top {border-top: $border-default}
.border-bottom {border-bottom: $border-default}

.fs-14 {font-size: 14px;}
.container {
    position: relative;
    max-width: 100%;
    width: $container_width;
    margin: 0 auto;
    padding: 0 2rem;
    background: none;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: $btn-md-padding;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 500;
    border-radius: $btn-radius;
    cursor: pointer;
    transition: all .35s;
}

.btn-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: $btn-radius;
    font-weight: 500;
    cursor: pointer;
    transition: all .35s;
}

.btn-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 24px;
    border-radius: $btn-radius;
    font-weight: 500;
    cursor: pointer;
    transition: all .35s;
    svg {fill: white; height: 24px; width: 24px;}
}
.btn-md {
    padding: $btn-md-padding;
}
.btn-lg {
    padding: $btn-lg-padding;
}

.btn-orange, .btn-primary {
    background-color: $orange_primary;
    color: $white;
    &:hover {background-color: $orange_light;}
    svg {fill: white;}
}

.btn-dark {
    background-color: $black_hover;
    color: $gray;
}

.btn-primary.btn-lg:hover, .btn-primary.btn-lg:hover {
    background-color: $orange_light;
    // border: 6px solid $orange_light-20;
}

.btn-half-orange, .btn-secondary {
    background-color: $orange-20;
    color: $orange_primary;
    &:hover {background-color: $orange-30;} 
}

.btn-secondary.active {
    background: $orange_primary;
    color: $white;
}

.icon-single {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: $orange-20;
    cursor: pointer;
    transition: all .35s;
    &:hover {background-color: $orange-30;}
}

.icon-green {
    background: $green-15; border-radius: 7px; cursor: pointer; 
    padding: 0 10px;
    svg {fill: $green; width: 22px; height: 22px;}
    &:hover {background: $green-15;}
}

.icon-control {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black_bg;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all .35s;
    svg {fill: $gray;}
    &:hover {svg {fill: $white !important;}} // stroke: $white;
}

.card-icon-btn {
    height: 50px;
    width: 50x;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .35s;
}
.link-primary {
    font-size: 16px;
    font-weight: 400px;
    color: $orange_primary;
    cursor: pointer;
    transition: all .35s;
    &:hover {color: $orange_light}
}

.nav-link:hover, .nav-link.active, .nav-link:hover > a, .nav-link.active > a {color: $orange_primary; transition: all .35s;}

.badge {
    display: inline-block; 
    padding: .125rem .75rem;
    margin: 0 .375rem;
    border-radius: 15px; 
    font-weight: 500;
    font-size: 14px;
}
.badge-discount {
    display: flex;
    align-items: center;
    padding: .75rem .375rem;
    border-radius: 15px;
    background-color: $orange-20;
    color: $orange_primary;
    font-weight: 500;
    font-size: 16px;
}

.badge-primary { background-color: $orange-20; color: $orange_primary;}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    background-color: $black_bg;
    border-radius: 30px;
    overflow: hidden;
    display: flex;

    .card-content {
        padding: 20px; display: flex; flex-direction: column;
        .details {display: flex; flex-direction: column;}
    }
    

    .card-title h4, .card-title a {
        margin-bottom: 10px;
        font-size: 16px; font-weight: 500; color: $white;
        transition: all .3s; 
        &:hover {color: $orange_primary;}
    }

    .card-category{
        display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 10px;
        .card-icon {
            display: flex; align-items: center; gap: .5rem;
            color: $gray; font-size: 16px; margin-right: 1.25rem;
            svg {fill:$gray; width: 18px; height: 18px;}
        }
    }
}

.label-input {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.label-select {
    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071Z' fill='%235F6982'/%3E%3C/svg%3E");
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: calc(50% - 12px);
        right: 20px;
        z-index: 2;
    }
}

.label-range {
    padding: 4px 0;
    overflow: visible;
}

.label-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: none;
    font-size: 16px;
    font-weight: 400;
}

.input-checkbox {
    position: relative;
    appearance: none; 
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $black_hover;
    border-radius: 6px;
    transition: all 350ms;

    &:checked{
        background-color: $orange_primary;
        
        &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 80%;
            left: 10%;
            top: 10%;
            position: absolute;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8047 3.52859C14.0651 3.78894 14.0651 4.21105 13.8047 4.4714L6.4714 11.8047C6.21106 12.0651 5.78894 12.0651 5.5286 11.8047L2.19526 8.4714C1.93491 8.21105 1.93491 7.78894 2.19526 7.52859C2.45561 7.26824 2.87772 7.26824 3.13807 7.52859L6 10.3905L12.8619 3.52859C13.1223 3.26824 13.5444 3.26824 13.8047 3.52859Z' fill='white'/%3E%3C/svg%3E");
        }
    }
}

.checkbox-secondary:checked {
    background-color: $orange-20;
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8047 3.52859C14.0651 3.78894 14.0651 4.21105 13.8047 4.4714L6.4714 11.8047C6.21106 12.0651 5.78894 12.0651 5.5286 11.8047L2.19526 8.4714C1.93491 8.21105 1.93491 7.78894 2.19526 7.52859C2.45561 7.26824 2.87772 7.26824 3.13807 7.52859L6 10.3905L12.8619 3.52859C13.1223 3.26824 13.5444 3.26824 13.8047 3.52859Z' fill='rgb(232,159,50)'/%3E%3C/svg%3E");
    }
}

.form-field {
    width: 100%;
    padding: 1rem 1.25rem;
    background-color: $black_hover;
    color: white;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    border: none;
    &::placeholder {color: $gray;}
    &:hover, &:focus {background-color: $black_hover;}
}

.input-range {
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
    height: 3px;
    background: $black_hover;
    border-radius: 9px;
    background-image: linear-gradient($orange_primary, $orange_primary);
    background-size: 50% 100%;
    background-repeat: no-repeat;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
        background: $orange_primary;
        cursor: pointer;
        box-shadow: 0 0 2px 0 #555;
        border-radius: 50%;
        transform: scale(10px);
        transition: all .3s ease-in-out;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
        background: $orange_primary;
        cursor: pointer;
        box-shadow: 0 0 2px 0 #555;
        border-radius: 50%;
        transform: scale(10px);
        transition: all .3s ease-in-out;
    }

    &::-ms-thumb {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
        background: $orange_primary;
        cursor: pointer;
        box-shadow: 0 0 2px 0 #555;
        border-radius: 50%;
        transform: scale(10px);
        transition: all .3s ease-in-out;
    }
    &::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    &::-moz-range-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    &::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
}

.input-textarea {
    display: block;
    width: 100%;
    max-width: 800px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 30px;
    background: $black_bg;
    border-radius: 20px;
    &::placeholder {color: $gray;}
    &:hover, &:focus {background-color: $black_hover;}
}
