// colors
$full_black: #20242D;
$half_black: #272C37;
$gray: #5F6982;
$orange: #E89F32;
$half_orange:  rgba(220, 151, 47, 0.2);
$default_white: #fff; 

// sizes
$container_width: 1200px;
$header_height: 100px;

$btn-lg-padding: 15px 35px;
$btn-radius: 15px;